<h1>View Games!</h1>
<a href="/">← Back To Home</a>
 
<h1>Game Score</h1>
<table style="width:100%">
  <tr>
    <th>Teams</th>
    <th>Q1</th> 
    <th>Q2</th>
    <th>Half</th>
    <th>Q3</th>
    <th>Q4</th>
    <th>Final</th>
  </tr>
  <tr>
    <td>INSERT HOME TEAM</td>
    <td>HMQ1 SCORE</td>
    <td>HMQ2 SCORE</td>
    <td>HMHalf SCORE</td>
    <td>HMQ3 SCORE</td>
    <td>HMQ4 SCORE</td>
    <td>HMTotal SCORE</td>
  </tr>
  <tr>
    <td>INSERT AWAY TEAM</td>
    <td>AWQ1 SCORE</td>
    <td>AWQ2 SCORE</td>
    <td>AWHalf SCORE</td>
    <td>AWQ3 SCORE</td>
    <td>AWQ4 SCORE</td>
    <td>AWTotal SCORE</td>
  </tr>
</table>
<br>


<div class="grid">
  <div class="module"></div>
  <div class="module">1</div>
  <div class="module">2</div>
  <div class="module">3</div>
  <div class="module">4</div>
  <div class="module">5</div>
  <div class="module">6</div>
  <div class="module">7</div>
  <div class="module">8</div>
  <div class="module">9</div>
  <div class="module">0</div>
  <div class="module">A</div>
  <div class="module">A1</div>
  <div class="module">A2</div>
  <div class="module">A3</div>
  <div class="module">A4</div>
  <div class="module">A5</div>
  <div class="module">A6</div>
  <div class="module">A7</div>
  <div class="module">A8</div>
  <div class="module">A9</div>
  <div class="module">A10</div>
  <div class="module">B</div>
  <div class="module">B1</div>
  <div class="module">B2</div>
  <div class="module">B3</div>
  <div class="module">B4</div>
  <div class="module">B5</div>
  <div class="module">B6</div>
  <div class="module">B7</div>
  <div class="module">B8</div>
  <div class="module">B9</div>
  <div class="module">B10</div>
  <div class="module">C</div>
  <div class="module">C1</div>
  <div class="module">C2</div>
  <div class="module">C3</div>
  <div class="module">C4</div>
  <div class="module">C5</div>
  <div class="module">C6</div>
  <div class="module">C7</div>
  <div class="module">C8</div>
  <div class="module">C9</div>
  <div class="module">C10</div>
  <div class="module">D</div>
  <div class="module">D1</div>
  <div class="module">D2</div>
  <div class="module">D3</div>
  <div class="module">D4</div>
  <div class="module">D5</div>
  <div class="module">D6</div>
  <div class="module">D7</div>
  <div class="module">D8</div>
  <div class="module">D9</div>
  <div class="module">D10</div>
  <div class="module">E</div>
  <div class="module">E1</div>
  <div class="module">E2</div>
  <div class="module">E3</div>
  <div class="module">E4</div>
  <div class="module">E5</div>
  <div class="module">E6</div>
  <div class="module">E7</div>
  <div class="module">E8</div>
  <div class="module">E9</div>
  <div class="module">E10</div>
  <div class="module">F</div>
  <div class="module">F1</div>
  <div class="module">F2</div>
  <div class="module">F3</div>
  <div class="module">F4</div>
  <div class="module">F5</div>
  <div class="module">F6</div>
  <div class="module">F7</div>
  <div class="module">F8</div>
  <div class="module">F9</div>
  <div class="module">F10</div>
  <div class="module">G</div>
  <div class="module">G1</div>
  <div class="module">G2</div>
  <div class="module">G3</div>
  <div class="module">G4</div>
  <div class="module">G5</div>
  <div class="module">G6</div>
  <div class="module">G7</div>
  <div class="module">G8</div>
  <div class="module">G9</div>
  <div class="module">G10</div>
  <div class="module">H</div>
  <div class="module">H1</div>
  <div class="module">H2</div>
  <div class="module">H3</div>
  <div class="module">H4</div>
  <div class="module">H5</div>
  <div class="module">H6</div>
  <div class="module">H7</div>
  <div class="module">H8</div>
  <div class="module">H9</div>
  <div class="module">H10</div>
  <div class="module">I</div>
  <div class="module">I1</div>
  <div class="module">I2</div>
  <div class="module">I3</div>
  <div class="module">I4</div>
  <div class="module">I5</div>
  <div class="module">I6</div>
  <div class="module">I7</div>
  <div class="module">I8</div>
  <div class="module">I9</div>
  <div class="module">I10</div>
  <div class="module">J</div>
  <div class="module">J1</div>
  <div class="module">J2</div>
  <div class="module">J3</div>
  <div class="module">J4</div>
  <div class="module">J5</div>
  <div class="module">J6</div>
  <div class="module">J7</div>
  <div class="module">J8</div>
  <div class="module">J9</div>
  <div class="module">J10</div>
</div>