.list-group-item {
  line-height: 2.5;
}

/* a {
  text-decoration: none;
  color: white;
} */
body {
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
  /* background-position: center center no-repeat;
  background-attachment: fixed;
  background-image: url(/images/nfl-1-logo-png-transparent.png); */
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.indeximage {
  width: 690px;
}

h1 {
  text-align: center;
}

.card {
  display: inline-block !important;
  margin: 8px !important;
}

.card-header {
  margin-bottom: 8px;
}

.grid {
  /* Grid Fallback */
  display: flex;
  flex-wrap: wrap;
  
  /* Supports Grid */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(65px, 1fr));
  grid-auto-rows: minmax(5px, auto);
  grid-gap: 1em;
}
.module {
  /* Demo-Specific Styles */
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  
  /* Flex Fallback */
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 200px;
}
@supports (display: grid) {
  .module {
    margin: 0;
  }
}
.btn {
  margin-left: 5px;
}
.divider {
  width:5px;
  height:auto;
  display:inline-block;
}

table {
  margin: auto;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
th {
  text-align: left;
}