* {
  box-sizing: border-box;
}

.list-group-item {
  line-height: 2.5;
}

body {
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

/* .img-container {
  text-align: center;
} */

.indeximage {
  width: 690px;
}

h1 {
  text-align: center;
}

.card {
  display: inline-block !important;
  box-sizing: border-box;
  margin: 8px !important;
  text-align: center;
}

.card-header {
  margin-bottom: 8px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(65px, 1fr));
  grid-auto-rows: minmax(5px, auto);
  grid-gap: 1em;
}
.module {
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 200px;
}
@supports (display: grid) {
  .module {
    margin: 0;
  }
}
.btn {
  margin-left: 5px;
}
.divider {
  width:5px;
  height:auto;
  display:inline-block;
}

table {
  margin: auto;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
th {
  text-align: center;
}

.container {
  width: 100%;
}

.button {
  background: lightblue;
  width: 180px;
  border-radius: 3px;
}

#teamlogo {
  width: 60px;
}

.button:hover {
  cursor: pointer;
}

.button:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 10%;
  border-radius: 50%;
  background-color: darken(#f1c40f, 20%);
  opacity: 0.4;
  bottom: -30px;
}